Smart/SmartSms/SmartSms/Web References/Kxcomcn/SmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://211.144.37.143/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://211.144.37.143/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://211.144.37.143/">
      <s:element name="QueryFee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryFeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryFeeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobilelist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgcontent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendtime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSms2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobilelist" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgcontent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendtime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSms2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSms2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgcontent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryFeeSoapIn">
    <wsdl:part name="parameters" element="tns:QueryFee" />
  </wsdl:message>
  <wsdl:message name="QueryFeeSoapOut">
    <wsdl:part name="parameters" element="tns:QueryFeeResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="SendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSms2SoapIn">
    <wsdl:part name="parameters" element="tns:SendSms2" />
  </wsdl:message>
  <wsdl:message name="SendSms2SoapOut">
    <wsdl:part name="parameters" element="tns:SendSms2Response" />
  </wsdl:message>
  <wsdl:message name="CheckContentSoapIn">
    <wsdl:part name="parameters" element="tns:CheckContent" />
  </wsdl:message>
  <wsdl:message name="CheckContentSoapOut">
    <wsdl:part name="parameters" element="tns:CheckContentResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsServiceSoap">
    <wsdl:operation name="QueryFee">
      <wsdl:input message="tns:QueryFeeSoapIn" />
      <wsdl:output message="tns:QueryFeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input message="tns:SendSmsSoapIn" />
      <wsdl:output message="tns:SendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSms2">
      <wsdl:input message="tns:SendSms2SoapIn" />
      <wsdl:output message="tns:SendSms2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckContent">
      <wsdl:input message="tns:CheckContentSoapIn" />
      <wsdl:output message="tns:CheckContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsServiceSoap" type="tns:SmsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryFee">
      <soap:operation soapAction="http://211.144.37.143/QueryFee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://211.144.37.143/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://211.144.37.143/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms2">
      <soap:operation soapAction="http://211.144.37.143/SendSms2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckContent">
      <soap:operation soapAction="http://211.144.37.143/CheckContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsServiceSoap12" type="tns:SmsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryFee">
      <soap12:operation soapAction="http://211.144.37.143/QueryFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://211.144.37.143/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap12:operation soapAction="http://211.144.37.143/SendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms2">
      <soap12:operation soapAction="http://211.144.37.143/SendSms2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckContent">
      <soap12:operation soapAction="http://211.144.37.143/CheckContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsService">
    <wsdl:port name="SmsServiceSoap" binding="tns:SmsServiceSoap">
      <soap:address location="http://211.144.37.143:9901/SmsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsServiceSoap12" binding="tns:SmsServiceSoap12">
      <soap12:address location="http://211.144.37.143:9901/SmsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>